<div class="container">

  <!-- Modal Add item-->
  <div class="modal fade" id="modalDetailItem" tabindex="-1" role="dialog" aria-labelledby="modalDetailItem" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add Item</h4>

        </div>
        
        <!-- Get the Body + the footer in the form to access the button in the footer-->
        <form name="myForm" class="form-horizontal">

          <div class="modal-body">
              
            <div class="form-group"> 
              <label for="itemName" class="control-label col-sm-3">Item Name: </label>
              <div class="col-sm-8">
                <input type="text" ng-model="itemName" class="form-control">
              </div>
            </div>

            <div class="form-group"> 
              <label for="itemQty" class="control-label col-sm-3">Qty: </label>
              <div class="col-sm-3">
                <input type="number" step="1" min="1" ng-model="itemQty" class="form-control">
              </div>
            </div>

            <div class="form-group"> 
              <label for="itemPrice" class="control-label col-sm-3">Item Price: </label>          
              <div class="col-sm-3">
                <input type="number" step="0.01" min="0.01" ng-model="itemPrice" class="form-control" >
              </div>
            </div>
            
            <div class="form-group"> 
              <label for="isTax" class="control-label col-sm-3">Taxable ? </label>
              <div class="col-sm-1">
                <input type="checkbox" ng-model="isTax" class="form-control" >
              </div>
            </div>

            <div class="form-group"> 
              <label for="couponQty" class="control-label col-sm-3">Coupon Qty: </label>
              <div class="col-sm-3">
                <input type="number" step="1" min="1" ng-model="couponQty" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label for="couponWorth" class="control-label col-sm-3">Coupon Worth: </label>
              <div class="col-sm-3">
                <input type="number" step="0.01" min="0.01" ng-model="couponWorth" class="form-control">
              </div>
            </div>       

            <div class="form-group">
              <label for="pricePerItem" class="control-label col-sm-3">Price per Item: </label>
              <div class="col-sm-3">
                <p class="form-control-static">{{((itemQty * addTax(itemPrice, isTax)) - (couponQty * couponWorth)) / itemQty || 0 | currency}}</p>                
              </div>
            </div>       

            <div class="form-group">
              <label for="totalPrice" class="control-label col-sm-3">Total Price: </label>
              <div class="col-sm-3">
                <p class="form-control-static">{{((itemQty * addTax(itemPrice, isTax)) - (couponQty * couponWorth)) || 0 | currency}}</p>
              </div>
            </div>       

            <div class="form-group">
              <label for="notes" class="control-label col-sm-3">Notes: </label>
              <div class="col-sm-8">
                <textarea class="form-control" rows="3" ng-model="itemDesc"></textarea>   
              </div>
            </div>       
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cleanForm()" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="saveItem()" data-dismiss="modal">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div>
    <h4>Item & Coupon list
      <button type="button" class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#modalDetailItem">
        Add Item
      </button>
    </h4>
  </div>

  <!-- Table of Item -->
  <div>
    <table class="table table-hover">
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantities</th>
        <th>Coupon Qty</th>
        <th>Coupon Worth</th>
        <th>Action</th>
      </tr> 
      <tr ng-repeat="t in items">
        <td><a ng-ref data-toggle="modal" data-target="#modalDetailItem" ng-click="detailItem($index)">{{t.itemName}}</a></td>
        <td>{{t.itemPrice | currency}}</td>
        <td>{{t.itemQty}}</td>
        <td>{{t.couponQty}}</td>
        <td>{{t.couponWorth | currency}}</td>
        <td>
          <div>
            <button class="btn btn-danger btn-xs" ng-click="removeItem($index)" aria-label="Remove">Delete</button>
          </div>  
        </td>
      </tr>
    </table>
  </div>
 
  <!-- Total Value -->
  <h4>Report</h4>
  <div>
    <table class="table table-striped">
      <tr>
        <th>Total Amount w/ Tax</th>
        <th>Total Coupon</th>
        <th>Amount to pay w/ Tax</th>
      </tr>
      <tr>
        <td>{{itemsPriceTotal | currency}}</td>
        <td>{{couponsWorthTotal | currency}}</td>
        <td>{{itemsPriceTotal - couponsWorthTotal | currency}}</td>
      </tr> 
    </table>
  </div>

</div>
