<div class="container">

<!--  
<button type="button" class="btn btn-danger" ng-click="debugButton()">DEBUG !!</button>
-->

  <!-- Modal Add item-->
  <div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="modalDetailItemLabel" aria-hidden="false" ng-controller="ItemCtrl">
    
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add Item</h4>
        </div>
        
        <div class="modal-body">

          <form name="myForm" class="form-horizontal">
            
            <div class="form-group"> 
              <label for="itemName" class="control-label col-sm-3">Item Name: </label>
              <div class="col-sm-8">
                <input type="text" name="itemName" ng-model="itemName" class="form-control" required>
                 
              </div>
            </div>

            <div class="form-group"> 
              <label for="itemName" class="control-label col-sm-3">Category: </label>
              <div class="col-sm-8">
              <select class="form-control" ng-model="selectedCategory" ng-options="category.id as category.categoryName for category in categories">
                  <option value="">Select Category</option>
              </select>            
              </div>
              
            </div>

            <div class="form-group"> 
              <label for="itemQty" class="control-label col-sm-3">Qty: </label>
              <div class="col-sm-3">
                <input type="number" step="0.001" min="0.001" ng-model="itemQty" class="form-control" required>
              </div>
              <p class="col-sm-3 control-label">e.g. $/Kg or $/Lbs</p>
            </div>

            <div class="form-group"> 
              <label for="itemPrice" class="control-label col-sm-3">Item Price: </label>          
              <div class="col-sm-3">
                <input type="number" step="0.01" min="0.01" ng-model="itemPrice" class="form-control" required>
              </div>
            </div>
            
            <div class="form-group"> 
              <label for="isTax" class="control-label col-sm-3">Taxable ? </label>
              <div class="col-sm-1">
                <input type="checkbox" ng-model="isTax" class="form-control" >
              </div>
            </div>

            <div class="form-group"> 
              <label for="couponQty" class="control-label col-sm-3">Coupon Qty: </label>
              <div class="col-sm-3">
                <input type="number" step="1" min="1" ng-model="couponQty" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label for="couponWorth" class="control-label col-sm-3">Coupon Worth: </label>
              <div class="col-sm-3">
                <input type="number" step="0.01" min="0.01" ng-model="couponWorth" class="form-control">
              </div>
            </div>       

            <div class="form-group"> 
              <label for="couponDouble" class="control-label col-sm-3">Coupon will double: </label>
              <div class="col-sm-1">
                <input type="checkbox" ng-model="couponDouble" class="form-control" >
              </div>
            </div>

            <div class="form-group">
              <label for="pricePerItem" class="control-label col-sm-3">Price per Item: </label>
              <div class="col-sm-3">
                <p class="form-control-static">{{getPricePerItem() | currency}}</p>                
              </div>
            </div>       

            <div class="form-group">
              <label for="totalPrice" class="control-label col-sm-3">Total Price: </label>
              <div class="col-sm-3">
                <p class="form-control-static">{{getTotalPrice() || 0 | currency}}</p>
              </div>
            </div>       

            <div class="form-group"> 
              <label for="Location" class="control-label col-sm-3">Location: </label>
              <div class="col-sm-7">
                <select class="form-control">
                  <option>Brunet</option>
                  <option>Canadian Tire</option>
                  <option>Familiprix</option>
                  <option>IGA</option>
                  <option>InterMarché</option>
                  <option>Jean Coutu</option>
                  <option>Loblaw's</option>
                  <option>Marché C&T</option>
                  <option>Marché OMNI</option>
                  <option>Marché Tradition</option>
                  <option>Maxi</option>
                  <option>Métro</option>
                  <option>Pharmaprix</option>
                  <option>Provigo</option>
                  <option>Proxim</option>
                  <option>Richelieu</option>
                  <option>Super C</option>
                  <option>Supermarché PA</option>
                  <option>Target</option>
                  <option>Tigre Géant</option>
                  <option>Uniprix</option>
                  <option>Walmart</option>
                </select>
              </div>
            </div>
          
            <div class="form-group">
              <label for="notes" class="control-label col-sm-3">Notes: </label>
              <div class="col-sm-8">
                <textarea class="form-control" rows="3" ng-model="itemDesc"></textarea>   
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="cleanForm()" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"  ng-click="saveItem()" data-dismiss="modal">Save</button>
        </div>
        
      </div>
    </div>

  </div>

  <!-- Modal Edit Categories-->
  <div class="modal fade" id="modalEditCategories" tabindex="-1" role="dialog" aria-labelledby="modalEditCategoriesLabel" aria-hidden="false" ng-include="'views/userCategoryModal.html'">
  </div>

  <div>
    <h4>Item & Coupon list
      <button type="button" class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#itemModal">
        Add Item
      </button>
    </h4>
  </div>

  <!-- Table of Item -->
  <div>
    <table class="table table-hover">
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantities</th>
        <th>Coupon Qty</th>
        <th>Coupon Worth</th>
        <th>Action</th>
      </tr> 
      <tr ng-repeat="i in items">
        <td><a ng-ref data-toggle="modal" data-target="#itemModal" ng-click="setDetailItem($index)">{{i.itemName}}</a></td>
        <td>{{i.itemPrice | currency}}</td>
        <td>{{i.itemQty}}</td>
        <td>{{i.couponQty}}</td>
        <td>{{i.couponWorth | currency}}</td>
        <td>
          <div>
            <button class="btn btn-danger btn-xs" ng-click="removeItem(i.id)" aria-label="Remove">Delete</button>
          </div>  
        </td>
      </tr>
    </table>
  </div>
 
  <!-- Total Value -->
  <h4>Report</h4>
  <div>
    <table class="table table-striped">
      <tr>
        <th>Total Amount w/ Tax</th>
        <th>Total Coupon</th>
        <th>Amount to pay w/ Tax</th>
      </tr>
      <tr>
        <td>{{totalItemsPrice | currency}}</td>
        <td>{{totalCouponsWorth | currency}}</td>
        <td>{{totalAmountToPay | currency}}</td>
      </tr> 
    </table>
  </div>

  <div>
    <h3>Settings</h3>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalEditCategories">Edit Categories</button>
  </div>  

</div>
