<div class="container">

<!-- Button trigger modal -->
<div class=form-group>
  <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">
    Add Item
  </button>
  </div>

  <!-- Modal Add item-->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add Item</h4>

        </div>
        
        <!-- Get the Body + the footer in the form to access the button in the footer-->
        <form name="myForm" class="form-horizontal" ng-submit="addCoupon()">

          <div class="modal-body">
              
            <div class="form-group"> 
              <label for="itemName" class="control-label col-xs-3">Item Name: </label>
                          <div class="col-xs-7">
                <input type="text" ng-model="itemName" placeholder="Enter Item Name" class="form-control">
              </div>
            </div>

            <div class="form-group"> 
              <label for="itemQty" class="control-label col-xs-3">Qty: </label>
              <div class="col-xs-3">
                <input type="number" step="1" min="1" ng-model="itemQty" class="form-control">
              </div>
            </div>

            <div class="form-group"> 
              <label for="itemPrice" class="control-label col-xs-3">Item Price: </label>          
              <div class="col-xs-3">
                <input type="number" step="0.01" min="0.01" ng-model="itemPrice" class="form-control" >
              </div>
            </div>
            
            <div class="form-group"> 
              <label for="isTax" class="control-label col-xs-3">Taxable ? </label>
              <div class="col-xs-1">
                <input type="checkbox" ng-model="isTax" class="form-control" >
              </div>
            </div>

            <div class="form-group"> 
              <label for="couponQty" class="control-label col-xs-3">Coupon Qty: </label>
              <div class="col-xs-3">
                <input type="number" step="1" min="1" ng-model="couponQty" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label for="couponWorth" class="control-label col-xs-3">Coupon Worth: </label>
              <div class="col-xs-3">
                <input type="number" step="0.01" min="0.01" ng-model="couponWorth" class="form-control">
              </div>
            </div>          
            
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="addCoupon()" data-dismiss="modal">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <hr>

  <!-- Table of Coupon -->
  <h3>Item & Coupon list</h3>
  <div>
    <table class="table table-striped">
      <tr>
        <th>Item Name</th>
        <th>Qty</th>
        <th>Item Price</th>
        <th>Tax ?</th>
        <th>Item Total</th>
        <th>Coupon worth</th>
        <th>Qty</th>
        <th>Total coupon Worth</th>
        <th>Total Price</th>
        <th>Action</th>
      </tr> 
      <tr ng-repeat="t in coupons">
        <td>{{t.itemName}}</td>
        <td>{{t.itemQty}}</td>
        <td>{{t.itemPrice | currency}}</td>
        <td>{{t.isTax}}</td>
        <td>{{t.itemQty * t.itemPrice | currency}}</td>
        <td>{{t.couponWorth | currency}}</td>
        <td>{{t.couponQty}}</td>
        <td>{{t.couponWorth * t.couponQty | currency}}</td>
        <td>{{(t.itemQty * t.itemPrice) - (t.couponWorth * t.couponQty) | currency}}</td>
        <td><button class="btn btn-danger btn-xs" ng-click="removeCoupon($index)" aria-label="Remove">Delete</button></td>
      </tr>
    </table>
  </div>

  <!-- Total Value -->
  <h3>Report</h3>
  <div>
    <table class="table table-striped">
      <tr>
        <th>Total Item</th>
        <th>Total Coupon</th>
        <th>Total Saving</th>
      </tr>
      <tr>
        <td>{{itemPriceTotal | currency}}</td>
        <td>{{couponWorthTotal | currency}}</td>
        <td>{{itemPriceTotal - couponWorthTotal | currency}}</td>
      </tr> 
    </table>
  </div>

</div>
